@import '../../variables';

header {
  display: flex;
  align-items: center;
  background-color: red;
  height: $header-height;

  .logo {
    font-family: 'Rock Salt', cursive;
    font-size: 2.5rem;
    color: $white;

  }
}
