@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}
